body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #06182c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ca6130;
}
input[type=reset] {
  background-color: #06182c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: #ca6130;
}

.container {
  border-radius: 5px;
  background-color: #2fa07a;
  padding: 20px;
}
.page1{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top:20px;
    left: 0;
    background-color: rgb(11, 10, 77);


    


}
.page2{
   
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    right: 0;
	background-color:#5e8079;
    
}
table,tr,td{
    margin-left:50px;
    border: 1px solid black;
    padding: 3px;
}

h3{
  color: white;
}
h1{
  margin-left:10px;
}
